__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3

venv/
env/
.venv/
ENV/

airflow.cfg
airflow.db
dags/__pycache__/
logs/
plugins/__pycache__/
.airflow/

*.json
quixotic-strand-453812-r2-275fa3e318d7.json

*.pid
*.tar
*.log
.docker/
docker-compose.override.yml
**/.env

.DS_Store
Thumbs.db
.idea/
.vscode/
*.bak
*.swp
*.tmp

build/
dist/
*.egg-info/
.cache/
__pypackages__/
*.egg

.ipynb_checkpoints/
*.ipynb

node_modules/
npm-debug.log
yarn-error.log
